.information {
  color: darkgoldenrod;
  font-size: 20;
}

.orbit-title {
  margin-bottom: 10px;
  color: rgb(45, 160, 45);
  font-size: 35px;
  font-weight: 1000;
}

.background {
  background-color: floralwhite;
}

.big_content_one {
  padding-left: 50px;
}
.big_content_two {
  padding-left: 200px;
}
.header_color {
  background-color: antiquewhite;
}
.font {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: darkseagreen;
}
.img {
  border-radius: 20px;
}
.div_content {
  font-family: "Orbit", sans-serif;
  font-style: normal;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.content {
  margin-bottom: 50px;
}
.img_display {
  display: flex;
  text-align: center;
}
.img_add_information {
  margin-right: 20px;
}
