div {
  color: black;
  font-size: 15px;
}

.myimg {
  width: 150px;
  height: auto;
  border-radius: 30px;
}

#left-text {
  text-align: right;
}

.hd {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(218, 64, 130);
  margin: 30px 10px 10px 0px;
  font-weight: 900;
  font-size: 20px;
}

.body {
  background-color: rgb(252, 233, 237);
}

.header {
  background-color: rgb(255, 213, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  gap: 30px;
  border: 2px solid #ddd;
  padding: 20px;
  width: 400px;
  background-color: rgb(250, 243, 235);
  border-radius: 10px;
  font-size: 17px;
}

.container1,
.container2 {
  gap: 30px;
  border: 2px solid #ddd;
  padding: 20px;
  width: 400px;
  background-color: rgb(250, 243, 235);
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 22px;
  color: rgb(166, 101, 127);
}

.list {
  display: flex;
  justify-content: left;
  gap: 5px;
  font-size: 15px;
}

.mcimg {
  width: 90px;
  height: auto;
  border-radius: 5px;
}

.container4 {
  gap: 30px;
  border: 2px solid #ddd;
  padding: 20px;
  width: 300px;
  background-color: rgb(250, 243, 235);
  border-radius: 10px;
}

.catimg {
  width: 100px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
  float: right;
}

hr {
  border: 2px solid rgb(246, 196, 196);
}
